<h2>
  <%= @competition.puzzle_text %>
</h2>
<%= form_tag({ :controller => "competitions", :action => "guess" }, :method => "post", :class => "form_class_to_be_made") do %>
  <%= text_field_tag(:guess) %>
  <%= submit_tag("Guess") %>
<% end %>
<h4>
  <%= @competition.guide %>
</h4>
<p>
  This riddle has been guessed right <%= @competition.correct_answer_number %>
  <% if(@competition.correct_answer_number == 1) %>
    time
  <% else %>
    times
  <% end %>
</p>