<h2>
  <%= @competition.puzzle_text %>
</h2>
<%= form_tag({ :controller => "competitions", :action => "guess" }, :method => "post", :class => "form_class_to_be_made") do %>
  <%= text_field_tag(:guess) %>
  <%= submit_tag("Guess") %>
<% end %>
<h4>
  <%= @competition.guide %>
</h4>